<div class="row">
    <h1 class="hide">صفحه ایجاد رمز عبور جدید برای حساب کاربری لیجیاتو</h1>
    <div class="container">
        <div class="col s12">
            <%- include(viewPath('layout/error')) %>
            <div class="card-panel border-radius-10">
                <h5 class="center">ریکاوری رمز عبور</h5>
                <form action="/auth/reset/email" method="post">
                    <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>">
                    <input type="hidden" name="token" value="<%= token %>">
                    <div class="row">
                        <div class="input-field col s12">
                            <input  value="<%= old('email') %>" id="email" type="email" name="email" placeholder="ایمیل حساب کاربری را وارد کنید" data-length="20">
                            </div>
                        <div class="input-field col s12 ">
                            <input class="validate" id="password" type="password"
                                name="password" data-length="30" value="<%= old('password') %>" placeholder="رمز عبور جدید را وارد کنید">
                            </div>
                    <div class="input-field col s12">
                        <%- recap %>
                    </div>
                       <p>
                    <label>
                        <input type="checkbox" class="filled-in" onclick="seePassword()" />
                        <span>دیدن رمز عبور</span>
                    </label>
                    </p>
                    </div>
                    <div class="center">
                        <button class="btn pink  waves-effect waves-light" type="submit" name="action">
                            ریست
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function seePassword() {
  var passsword = document.getElementById("password");
  if (passsword.type === "password") {
    passsword.type = "text";
  } else {
    passsword.type = "password";
  }
}
</script>